/*Added style to nav bar*/
nav {
    display: flex;
    background-color: rgb(153, 110, 173);
  }

 /*Added style to nav bar element*/
  nav a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
  }

  img {
    width: 200px; /* Specified width of images*/
    height: auto; /* Maintain aspect ratio */
  }
  
  /*Added style to dev info section*/
  .info {
    flex-direction: row;
    display: inline-block;
    padding: 10px;
    width: 250px;
    text-align: center;
    border-style: none;
    border-width: 1px;
  }
  
  /*Added style to dev info section header*/
  .info header {
    padding: 20px;
    background: #13293d;
    color: #fff;
  }

/*Added style to work section for the application images to stack beside one another*/
  .application {
    flex-direction: row;
    display: inline-block;
    padding: 10px;
    width: 250px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
  }

  /* Added Hover functionality to enlarge image and add colour */
  .application:hover {
    background-color: #d69be4;
    color: blue;
    transform: scale(1.07);
    transition: transform 0.5s ease;
  }

  @media screen and (max-width: 768px) {
    header, main {
      flex-direction: column;
    }
  
    section {
      padding-right: 0;
    }
  
    aside {
      width: 100%;
      text-align: center;
    }
    .work {
      display: flex;
      flex-direction: column;
    }
  }
  

 